@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --clr-white: #fefefe;
    --clr-offWhite: #dbd8d8;
    --clr-blk: #232323;
    --clr-grey: #535252;
    --clr-light-grey: #646161;
    --clr-lightest-grey: #75757f;
    --clr-pale-grey: #a3a3a3;
    --clr-yellow: #f7e024;
    --clr-burnt-yellow: #d3a501;
    --clr-orange: #a63a25;
    --clr-blood-orange: #d13307;
    --clr-khaki: #433d28;
    --clr-dark-khaki: #42413b;
    --clr-dark-brown-khaki: #282322;
    --clr-blk-khaki: #2d2928;
    --clr-light-brown: #796b67;
    --clr-light-brown: #b4724d;
    --clr-brown: #6e411f;
    --clr-wood-brown: #814e27;
    --clr-dark-brown: #4f2a1e;
    --clr-light-pink: #cb6e9c;
    --clr-dark-pink: #a42765;
    --clr-fuschia: #993777;
    --clr-red: #8e240f;
    --clr-poke-red: #ab0102;
    --clr-dark-red: #540303;
    --clr-ruby-red: #970202;
    --clr-magenta: #751414;
    --clr-lilac: #896ebb;
    --clr-dark-lilac: #6b4770;
    --clr-mauve: #6d4b97;
    --clr-purple: #4b4c7b;
    --clr-dark-purple: #45385e;
    --clr-green: #447a33;
    --clr-dark-green: #21530f;
    --clr-light-green: #648758;
    --clr-moss-green: #636519;
    --clr-light-blue: #2077c9;
    --clr-dark-blue: #0f5da6;
    --clr-pale-blue: #95b3d4;
    --clr-sky-blue: #3f76b2;
    --clr-ice-blue: #3da3a1;

    --gradient-normal: linear-gradient(0deg, rgb(80, 80, 80) 55%, rgb(185, 185, 185) 100%);

    --gradient-dragon: linear-gradient(0deg, rgba(99,102,173,1) 55%, rgb(65, 68, 143) 100%);

    --gradient-fairy: linear-gradient(0deg, rgb(153, 55, 119) 55%, rgb(243, 96, 191) 100%);

    --gradient-rock: linear-gradient(0deg, rgb(67, 61, 40) 55%, rgb(95, 87, 56) 100%);

    --gradient-steel: linear-gradient(0deg, rgb(117, 117, 127) 55%, rgb(70, 70, 74) 100%);

    --gradient-poison: linear-gradient(0deg, rgba(109,75,151,1) 55%, rgb(54, 31, 82) 100%);

    --gradient-ghost: linear-gradient(0deg, rgba(107,71,112,1) 35%, rgb(62, 41, 65) 100%);

    --gradient-ice: linear-gradient(0deg, rgb(61, 163, 161) 35%, rgb(106, 186, 183) 100%);

    --gradient-ground: linear-gradient(0deg, rgb(110, 65, 31) 55%, rgb(161, 97, 48) 100%);

    --gradient-grass: linear-gradient(0deg, rgb(68, 122, 51) 55%, rgb(25, 100, 2) 100%);

    --gradient-bug: linear-gradient(0deg, rgb(87, 88, 33) 55%, rgb(148, 150, 44) 100%);

    --gradient-flying: linear-gradient(0deg, rgb(63, 118, 178) 55%, rgb(161, 206, 254) 100%);

    --gradient-fire: linear-gradient(0deg, rgb(142, 36, 15) 55%, rgb(255, 75, 39) 100%);

    --gradient-water: linear-gradient(0deg, rgba(45,85,145,1) 55%, rgb(38, 117, 235) 100%);

    --gradient-psychic: linear-gradient(0deg, rgba(215,95,130,1) 55%, rgb(188, 40, 82) 100%);

    --gradient-electric: linear-gradient(0deg, rgb(177, 130, 3) 55%, rgb(250, 186, 12) 100%);

    --gradient-dark: linear-gradient(0deg, rgb(40, 35, 34) 55%, rgb(78, 77, 77) 100%);

    --gradient-fighting: linear-gradient(0deg, rgb(128, 11, 17) 55%, rgb(52, 10, 5) 100%);

    --gradient-dark-fighting: linear-gradient(20deg, rgb(40, 35, 34) 70%, rgb(128, 11, 17) 10%);

    --gradient-dark-ice: linear-gradient(20deg, rgb(40, 35, 34) 70%, rgb(61, 163, 161) 10%);

    --gradient-dark-flying: linear-gradient(20deg, rgb(40, 35, 34) 70%, rgb(63, 118, 178) 10%);

    --gradient-ghost-fire: linear-gradient(20deg, rgba(107,71,112,1) 70%, rgb(142, 36, 15) 10%);

    --gradient-fire-bug: linear-gradient(20deg, rgb(142, 36, 15) 70%, rgb(87, 88, 33) 10%);

    --gradient-ghost-poison: linear-gradient(20deg, rgba(107,71,112,1) 70%, rgba(109,75,151,1) 10%);

    --gradient-dragon-ice: linear-gradient(20deg, rgba(99,102,173,1) 70%, rgb(61, 163, 161) 10%);

    --gradient-fire-poison: linear-gradient(20deg, rgb(190, 59, 32) 70%, rgba(109,75,151,1) 10%);

    --gradient-ice-psychic: linear-gradient(20deg, rgb(57, 135, 134) 70%, rgba(215,95,130,1) 10%);

    --gradient-bug-electric: linear-gradient(20deg, rgb(87, 88, 33) 70%, rgb(177, 130, 3) 10%);

    --gradient-bug-rock: linear-gradient(20deg, rgb(87, 88, 33) 70%, rgb(67, 61, 40) 10%);

    --gradient-ground-rock: linear-gradient(20deg, rgb(110, 65, 31) 70%, rgb(67, 61, 40) 10%);

    --gradient-ground-electric: linear-gradient(20deg, rgb(110, 65, 31) 70%, rgb(177, 130, 3) 10%);

    --gradient-bug-grass: linear-gradient(20deg, rgb(87, 88, 33) 70%, rgb(68, 122, 51) 10%);

    --gradient-grass-normal: linear-gradient(20deg, rgb(68, 122, 51) 70%, rgb(80, 80, 80) 55% 10%);

    --gradient-electric-normal: linear-gradient(20deg, rgb(177, 130, 3) 70%, rgb(80, 80, 80) 55% 10%);

    --gradient-bug-fighting: linear-gradient(20deg, rgb(87, 88, 33) 70%, rgb(128, 11, 17) 10%);

    --gradient-rock-fighting: linear-gradient(20deg, rgb(67, 61, 40) 70%, rgb(128, 11, 17) 10%);

    --gradient-rock-flying: linear-gradient(20deg, rgb(67, 61, 40) 70%, rgb(63, 118, 178) 10%);

    --gradient-bug-poison: linear-gradient(20deg, rgb(87, 88, 33) 70%, rgba(109,75,151,1) 10%);

    --gradient-dragon-flying: linear-gradient(20deg, rgba(99,102,173,1) 70%, rgb(63, 118, 178) 10%);

    --gradient-bug-psychic: linear-gradient(20deg, rgb(87, 88, 33) 70%, rgba(215,95,130,1) 10%);

    --gradient-electric-flying: linear-gradient(20deg, rgb(177, 130, 3) 70%, rgb(63, 118, 178) 10%);

    --gradient-water-ghost: linear-gradient(20deg, rgba(45,85,145,1) 70%, rgba(107,71,112,1) 10%);

    --gradient-steel-psychic: linear-gradient(20deg, rgb(117, 117, 127) 70%, rgba(215,95,030,1) 10%);

    --gradient-normal-flying: linear-gradient(20deg, rgb(80, 80, 80) 70%, rgb(63, 118, 178) 10%);

    --gradient-flying-dark: linear-gradient(20deg, rgb(63, 118, 178) 70%, rgb(40, 35, 34) 10%);

    --gradient-normal-psychic: linear-gradient(20deg, rgb(80, 80, 80) 70%, rgba(215,95,130,1) 10%);

    --gradient-rock-water: linear-gradient(20deg, rgb(67, 61, 40) 70%, rgb(45, 85, 145) 10%);

    --gradient-dragon-normal: linear-gradient(20deg, rgba(99,102,173,1) 70%, rgb(80, 80, 80) 10%);

    --gradient-dark-dragon: linear-gradient(20deg, rgb(40, 35, 34) 70%, rgba(99,102,173,1) 10%);

    --gradient-fire-fighting: linear-gradient(20deg, rgb(142, 36, 15) 70%, rgb(128, 11, 17) 10%);

    --gradient-fire-rock: linear-gradient(20deg, rgb(142, 36, 15) 70%, rgb(67, 61, 40) 10%);

    --gradient-dark-psychic: linear-gradient(20deg, rgb(40, 35, 34) 70%, rgba(215,95,130,1) 10%);

    --gradient-grass-psychic: linear-gradient(20deg, rgb(68, 122, 51) 70%, rgba(215,95,130,1) 10%);

    --gradient-grass-flying: linear-gradient(20deg, rgb(68, 122, 51) 70%, rgb(149, 179, 212) 10%);

    --gradient-ground-dragon: linear-gradient(20deg, rgb(110, 65, 31) 70%, rgba(99,102,173,1) 10%);

    --gradient-ground-dark: linear-gradient(20deg, rgb(110, 65, 31) 70%, rgb(40, 35, 34) 10%);

    --gradient-grass-poison: linear-gradient(20deg, rgb(68, 122, 51) 70%, rgba(109,75,151,1) 10%);

    --gradient-grass-dark: linear-gradient(20deg, rgb(68, 122, 51) 70%, rgb(40, 35, 34) 10%);

    --gradient-poison-ground: linear-gradient(20deg, rgba(109,75,151,1) 70%, rgb(110, 65, 31) 10%);

    --gradient-ice-ground: linear-gradient(20deg, rgb(61, 163, 161) 70%, rgb(110, 65, 31) 10%);

    --gradient-poison-fire: linear-gradient(20deg, rgba(109,75,151,1) 70%, rgb(190, 59, 32) 10%);

    --gradient-poison-normal: linear-gradient(20deg, rgba(109,75,151,1) 70%, rgb(80, 80, 80) 10%);

    --gradient-fighting-electric: linear-gradient(20deg, rgb(128, 11, 17) 70%, rgb(177, 130, 3) 10%);

    --gradient-fighting-ghost: linear-gradient(20deg, rgb(128, 11, 17) 70%, rgba(107,71,112,1) 10%);

    --gradient-fighting-steel: linear-gradient(20deg, rgb(128, 11, 17) 70%, rgb(117, 117, 127) 10%);

    --gradient-fairy-steel: linear-gradient(20deg, rgb(153, 55, 119) 70%, rgb(117, 117, 127) 10%);

    --gradient-steel-fairy: linear-gradient(20deg, rgb(117, 117, 127) 70%, rgb(153, 55, 119) 10%);

    --gradient-steel-flying: linear-gradient(20deg, rgb(117, 117, 127) 70%, rgb(63, 118, 178) 10%);

    --gradient-steel-ghost: linear-gradient(20deg, rgb(117, 117, 127) 70%, rgba(107,71,112,1) 10%);

    --gradient-ground-rock: linear-gradient(20deg, rgb(110, 65, 31) 70%, rgb(67, 61, 40) 10%);

    --gradient-ground-psychic: linear-gradient(20deg, rgb(110, 65, 31) 70%, rgba(215,95,130,1) 10%);

    --gradient-rock-fairy: linear-gradient(20deg, rgba(95, 87, 56) 70%, rgb(153, 55, 119) 10%);

    --gradient-steel-rock: linear-gradient(20deg, rgb(117, 117, 127) 70%, rgb(67, 61, 40) 10%);

    --gradient-bug-flying: linear-gradient(20deg, rgb(87, 88, 33) 70%, rgb(63, 118, 178) 10%);

    --gradient-poison-bug: linear-gradient(20deg, rgba(109,75,151,1) 70%, rgb(87, 88, 33) 10%);

    --gradient-bug-steel: linear-gradient(20deg, rgb(87, 88, 33) 70%, rgb(117, 117, 127) 10%);

    --gradient-bug-grass: linear-gradient(20deg, rgb(87, 88, 33) 70%, rgb(68, 122, 51) 10%);

    --gradient-water-ice: linear-gradient(20deg, rgba(45,85,145,1) 70%, rgb(61, 163, 161) 10%);

    --gradient-water-psychic: linear-gradient(20deg, rgba(45,85,145,1) 70%, rgba(215,95,130,1) 10%);

    --gradient-psychic-flying: linear-gradient(20deg, rgba(215,95,130,1) 70%, rgb(63, 118, 178) 10%);

    --gradient-psychic-ghost: linear-gradient(20deg, rgba(215,95,130,1) 70%, rgba(107,71,112,1) 10%);

    --gradient-psychic-fairy: linear-gradient(20deg, rgba(215,95,130,1) 70%, rgb(153, 55, 119) 10%);

    --gradient-ghost-fairy: linear-gradient(20deg, rgba(107,71,112,1) 70%, rgb(153, 55, 119) 10%);

    --gradient-rock-bug: linear-gradient(20deg, rgb(67, 61, 40) 70%, rgb(87, 88, 33) 10%);

    --gradient-poison-flying: linear-gradient(20deg, rgba(109,75,151,1) 70%, rgb(63, 118, 178) 10%);

    --gradient-water-poison: linear-gradient(20deg, rgb(45, 85, 145) 70%, rgba(109,75,151,1) 10%);

    --gradient-poison-water: linear-gradient(20deg, rgba(109,75,151,1) 70%, rgb(45, 85, 145) 10%);

    --gradient-water-ground: linear-gradient(20deg, rgb(45, 85, 145) 70%, rgb(110, 65, 31) 10%);

    --gradient-poison-dark: linear-gradient(20deg, rgba(109,75,151,1) 70%, rgb(40, 35, 34) 10%);

    --gradient-water-dark: linear-gradient(20deg, rgb(45, 85, 145) 70%, rgb(40, 35, 34) 10%);

    --gradient-dark-grass: linear-gradient(20deg, rgb(40, 35, 34) 70%, rgb(68, 122, 51) 10%);

    --gradient-water-rock: linear-gradient(20deg, rgb(45, 85, 145) 70%, rgba(95, 87, 56) 10%);

    --gradient-water-flying: linear-gradient(20deg, rgb(45, 85, 145) 70%, rgb(63, 118, 178) 10%);

    --gradient-water-dragon: linear-gradient(20deg, rgb(45, 85, 145) 70%, rgba(99,102,173,1) 10%);

    --gradient-flying-water: linear-gradient(20deg, rgb(63, 118, 178) 70%, rgb(45, 85, 145) 10%);

    --gradient-electric-steel: linear-gradient(20deg, rgb(177, 130, 3) 70%, rgb(117, 117, 127) 10%);

    --gradient-ground-flying: linear-gradient(20deg, rgb(110, 65, 31) 70%, rgb(63, 118, 178) 10%);

    --gradient-ice-water: linear-gradient(20deg, rgb(61, 163, 161) 70%, rgb(45, 85, 145) 10%);

    --gradient-rock-psychic: linear-gradient(20deg, rgba(95, 87, 56) 70%, rgba(215,95,130,1) 10%);

    --gradient-grass-dragon: linear-gradient(20deg, rgb(68, 122, 51) 70%, rgba(99,102,173,1) 10%);

    --gradient-normal-fighting: linear-gradient(20deg, rgb(80, 80, 80) 70%, rgb(128, 11, 17) 10%);

    --gradient-grass-ghost: linear-gradient(20deg, rgb(68, 122, 51) 70%, rgba(107,71,112,1) 10%);

    --gradient-water-bug: linear-gradient(20deg, rgb(45, 85, 145) 70%, rgb(87, 88, 33) 10%);

    --gradient-dark-normal: linear-gradient(20deg, rgb(40, 35, 34) 70%, rgb(80, 80, 80) 10%);

    --gradient-dragon-ghost: linear-gradient(20deg, rgba(99,102,173,1) 70%, rgba(107,71,112,1) 10%);

    --gradient-rock-poison: linear-gradient(20deg, rgba(95, 87, 56) 70%, rgba(109,75,151,1) 10%);

    --gradient-ground-steel: linear-gradient(20deg, rgb(110, 65, 31) 70%, rgb(117, 117, 127) 10%);

    --gradient-fire-flying: linear-gradient(20deg, rgb(190, 59, 32) 70%, rgb(63, 118, 178) 10%);

    --gradient-bug-dark: linear-gradient(20deg, rgb(87, 88, 33) 70%, rgb(40, 35, 34) 10%);

    --gradient-fire-ground: linear-gradient(20deg, rgb(190, 59, 32) 70%, rgb(110, 65, 31) 10%);

    --gradient-water-fairy: linear-gradient(20deg, rgb(45, 85, 145) 70%, rgb(153, 55, 119) 10%);

    --gradient-rock-ice: linear-gradient(20deg, rgba(95, 87, 56) 70%, rgb(61, 163, 161) 10%);

    --gradient-rock-ground: linear-gradient(20deg, rgba(95, 87, 56) 70%, rgb(110, 65, 31) 10%);

    --gradient-fighting-flying: linear-gradient(20deg, rgb(128, 11, 17) 70%, rgb(63, 118, 178) 10%);

    --gradient-ghost-ground: linear-gradient(20deg, rgba(107,71,112,1) 70%, rgb(110, 65, 31) 10%);

    --gradient-fire-ghost: linear-gradient(20deg, rgb(190, 59, 32) 70%, rgba(107,71,112,1) 10%);

    --gradient-normal-grass: linear-gradient(20deg, rgb(80, 80, 80) 70%, rgb(68, 122, 51) 10%);

    --gradient-rock-dragon: linear-gradient(20deg, rgba(95, 87, 56) 70%, rgba(99,102,173,1) 10%);

    --gradient-fairy-flying: linear-gradient(20deg, rgb(153, 55, 119) 70%, rgb(63, 118, 178) 10%);

    --gradient-fire-psychic: linear-gradient(20deg, rgb(190, 59, 32) 70% 70%, rgba(215,95,130,1) 10%);

    --gradient-bug-fire: linear-gradient(20deg, rgb(87, 88, 33) 70%, rgb(190, 59, 32) 10%);

    --gradient-normal-ground: linear-gradient(20deg, rgb(80, 80, 80) 70%, rgb(110, 65, 31) 10%);

    --gradient-ground-normal: linear-gradient(20deg, rgb(110, 65, 31) 70%, rgb(80, 80, 80) 10%);

    --gradient-flying-dragon: linear-gradient(20deg, rgb(63, 118, 178) 70%, rgba(99,102,173,1) 10%);

    --gradient-poison-fighting: linear-gradient(20deg, rgba(109,75,151,1) 70%, rgb(128, 11, 17) 10%); 

    --gradient-bug-water: linear-gradient(20deg, rgb(87, 88, 33) 70%, rgb(45, 85, 145) 10%); 

    --gradient-steel-ground: linear-gradient(20deg, rgb(117, 117, 127) 70%, rgb(110, 65, 31) 10%);

    --gradient-electric-fighting: linear-gradient(20deg, rgb(177, 130, 3) 70%, rgb(128, 11, 17) 10%);

    --gradient-dark-steel: linear-gradient(20deg, rgb(40, 35, 34) 70%, rgb(117, 117, 127) 10%);

    --gradient-electric-dark: linear-gradient(20deg, rgb(177, 130, 3) 70%, rgb(80, 80, 80) 10%);

    --gradient-ghost-grass: linear-gradient(20deg, rgba(107,71,112,1) 70%, rgb(68, 122, 51) 10%);

    --gradient-psychic-normal: linear-gradient(20deg, rgba(215,95,130,1) 70%, rgb(80, 80, 80) 10%);

    --gradient-fire-steel: linear-gradient(20deg, rgb(190, 59, 32) 70%, rgb(117, 117, 127) 10%);

    --gradient-grass-fire: linear-gradient(20deg, rgb(68, 122, 51) 70%, rgb(190, 59, 32) 10%);

    --gradient-fighting-poison: linear-gradient(20deg, rgb(177, 61, 48) 70%, rgba(109,75,151,1) 10%);

    --gradient-dragon-ground: linear-gradient(20deg, rgba(99,102,173,1) 70%, rgb(110, 65, 31) 10%);

    --gradient-dark-fairy: linear-gradient(20deg, rgb(40, 35, 34) 70%, rgb(153, 55, 119) 10%);

    --gradient-ground-ghost: linear-gradient(20deg, rgb(110, 65, 31) 70%, rgba(107,71,112,1) 10%);

    --gradient-ground-grass: linear-gradient(20deg, rgb(110, 65, 31) 70%, rgb(68, 122, 51) 10%);

    --gradient-rock-grass: linear-gradient(20deg, rgba(95, 87, 56) 70%, rgb(68, 122, 51) 10%);

    --gradient-steel-poison: linear-gradient(20deg, rgb(117, 117, 127) 70%, rgba(109,75,151,1) 10%);

    --gradient-dark-ghost: linear-gradient(20deg, rgb(40, 35, 34) 70%, rgba(107,71,112,1) 10%);

    --gradient-rock-electric: linear-gradient(20deg, rgba(95, 87, 56) 70%, rgb(177, 130, 3) 10%);

    --gradient-water-fighting: linear-gradient(20deg, rgb(45, 85, 145) 70%, rgb(177, 61, 48) 10%);

    --gradient-dark-ground: linear-gradient(20deg, rgb(40, 35, 34) 70%, rgb(110, 65, 31) 10%);

    --gradient-ice-bug: linear-gradient(20deg, rgb(61, 163, 161) 70%, rgb(87, 88, 33) 10%);

    --gradient-dragon-fighting: linear-gradient(20deg, rgba(99,102,173,1) 70%, rgb(128, 11, 17) 10%);

    --gradient-bug-fairy: linear-gradient(20deg, rgb(87, 88, 33) 70%, rgb(153, 55, 119) 10%);

    --gradient-electric-poison: linear-gradient(20deg, rgb(177, 130, 3) 70%, rgba(109,75,151,1) 10%);

    --gradient-electric-ice: linear-gradient(20deg, rgb(177, 130, 3) 70%, rgba(119,199,198,1) 10%);

    --gradient-ground-fighting: linear-gradient(20deg, rgb(110, 65, 31) 70%, rgb(128, 11, 17) 10%);

    --gradient-water-grass: linear-gradient(20deg, rgb(45, 85, 145) 70%, rgb(68, 122, 51) 10%);

    --gradient-ghost-dark: linear-gradient(20deg, rgba(107,71,112,1) 70%, rgb(40, 35, 34) 10%); 

    --gradient-poison-dragon: linear-gradient(20deg, rgba(109,75,151,1) 70%, rgba(99,102,173,1) 10%);

    --gradient-rock-steel: linear-gradient(20deg, rgba(95, 87, 56) 70%, rgb(117, 117, 127) 10%); 

    --gradient-normal-fairy: linear-gradient(20deg, rgb(80, 80, 80) 70%, rgb(153, 55, 119) 10%); 

    --gradient-ghost-dragon: linear-gradient(20deg, rgba(107,71,112,1) 70%, rgba(99,102,173,1) 10%); 

    --gradient-electric-dragon: linear-gradient(20deg, rgb(177, 130, 3) 70%, rgba(99,102,173,1) 10%); 

    --gradient-grass-ground: linear-gradient(20deg, rgb(68, 122, 51) 70%, rgb(110, 65, 31) 10%); 

    --gradient-bug-ground: linear-gradient(20deg, rgb(87, 88, 33) 70%, rgb(110, 65, 31) 10%); 

    --gradient-dark-fire: linear-gradient(20deg, rgb(40, 35, 34) 70%, rgb(190, 59, 32) 10%); 

    --gradient-steel-dragon: linear-gradient(20deg, rgb(117, 117, 127) 70%, rgba(99,102,173,1) 10%);

    --gradient-psychic-fighting: linear-gradient(20deg, rgba(215,95,130,1) 70%, rgb(128, 11, 17) 10%);

    --gradient-electric-ground: linear-gradient(20deg, rgb(177, 130, 3) 70%, rgb(110, 65, 31) 10%); 

    --gradient-dark-poison: linear-gradient(20deg, rgb(40, 35, 34) 70%, rgba(109,75,151,1) 10%); 

    --gradient-fighting-dark: linear-gradient(20deg, rgb(128, 11, 17) 70%, rgb(40, 35, 34) 10%); 

    --gradient-psychic-grass: linear-gradient(20deg, rgba(215,95,130,1) 70%, rgb(68, 122, 51) 10%); 

    --gradient-grass-fairy: linear-gradient(20deg, rgb(68, 122, 51) 70%, rgb(153, 55, 119) 10%); 

    --gradient-flying-fighting: linear-gradient(20deg, rgb(63, 118, 178) 70%, rgb(128, 11, 17) 10%); 

    --gradient-ice-flying: linear-gradient(20deg, rgb(61, 163, 161) 70%, rgb(63, 118, 178) 10%); 

    --gradient-ice-ghost: linear-gradient(20deg, rgb(61, 163, 161) 70%, rgba(107,71,112,1) 10%); 

    --gradient-fairy-psychic: linear-gradient(20deg, rgb(153, 55, 119) 70%, rgba(215,95,130,1) 10%); 

    --gradient-grass-fighting: linear-gradient(20deg, rgb(68, 122, 51) 70%, rgb(128, 11, 17) 10%); 

    --gradient-psychic-steel: linear-gradient(20deg, rgba(215,95,130,1) 70%, rgb(117, 117, 127) 10%); 

    --gradient-psychic-fire: linear-gradient(20deg, rgba(215,95,130,1) 70%, rgb(190, 59, 32) 10%); 

    --gradient-rock-grass: linear-gradient(20deg, rgba(95, 87, 56) 70%, rgb(68, 122, 51) 10%); 

    --gradient-fire-dragon: linear-gradient(20deg, rgb(190, 59, 32) 70%, rgba(99,102,173,1) 10%); 

    --gradient-dragon-fire: linear-gradient(20deg, rgba(99,102,173,1) 70%, rgb(190, 59, 32) 10%); 

    --gradient-dark-ground: linear-gradient(20deg, rgb(40, 35, 34) 70%, rgb(110, 65, 31) 10%); 

    --gradient-fighting-psychic: linear-gradient(20deg, rgb(128, 11, 17) 70%, rgba(215,95,130,1) 10%); 

    --gradient-water-electric: linear-gradient(20deg, rgb(45, 85, 145) 70%, rgb(177, 130, 3) 100); 

    --gradient-grass-steel: linear-gradient(20deg, rgb(68, 122, 51) 70%, rgb(117, 117, 127) 10%); 

    --gradient-dragon-psychic: linear-gradient(20deg, rgba(99,102,173,1) 70%, rgba(215,95,130,1) 10%); 

    --gradient-steel-psychic: linear-gradient(20deg, rgb(117, 117, 127) 70%, rgba(215,95,130,1) 10%); 

    --gradient-water-electric: linear-gradient(20deg, rgb(45, 85, 145) 70%, rgb(177, 130, 3) 10%); 

    --gradient-normal-dragon: linear-gradient(20deg, rgb(80, 80, 80) 70%, rgba(99,102,173,1) 10%); 

    --gradient-flying-steel: linear-gradient(20deg, rgb(63, 118, 178) 70%, rgb(117, 117, 127) 10%); 

    --gradient-rock-fire: linear-gradient(20deg, rgba(95, 87, 56) 70%, rgb(190, 59, 32) 10%); 

    --gradient-rock-dark: linear-gradient(20deg, rgba(95, 87, 56) 70%, rgb(40, 35, 34) 10%);

    --gradient-bug-flying: linear-gradient(20deg, rgb(87, 88, 33) 70%, rgb(63, 118, 178) 10%);

    --gradient-bug-ghost: linear-gradient(20deg, rgb(87, 88, 33) 70%, rgba(107,71,112,1) 10%);

    --gradient-poison-psychic: linear-gradient(20deg, rgba(109,75,151,1) 70%, rgba(215,95,130,1) 10%);

    --gradient-poison-fairy: linear-gradient(20deg, rgba(109,75,151,1) 70%, rgb(153, 55, 119) 10%);

    --gradient-fire-normal: linear-gradient(20deg, rgb(190, 59, 32) 70%, rgb(80, 80, 80) 10%);

    --gradient-electric-ghost: linear-gradient(20deg, rgb(177, 130, 3) 70%, rgba(107,71,112,1) 10%);

    --gradient-fire-water: linear-gradient(20deg, rgb(190, 59, 32) 70%, rgb(45, 85, 145) 10%);

    --gradient-dragon-dark: linear-gradient(20deg, rgba(99,102,173,1) 70%, rgb(40, 35, 34) 10%);

    --gradient-grass-ice: linear-gradient(20deg, rgb(68, 122, 51) 70%, rgb(61, 163, 161) 10%);

    --gradient-fighting-ice: linear-gradient(20deg, rgb(128, 11, 17) 70%, rgb(61, 163, 161) 10%);

    --gradient-electric-dark: linear-gradient(20deg, rgb(177, 130, 3) 70%, rgb(40, 35, 34) 10%);
}
body {
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: url(./assets/bg.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: var(--clr-white);
}
/* Header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
}
header img {
    position: fixed;
    margin: 200px auto 0;
    width: 300px;
    height: auto;
}
/* Pokemon Cards */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding-bottom: 2.5rem;
}
.grid-container img {
    display: block;
    width: 175px;
    height: auto;
    margin: 150px auto;
    color: var(--clr-offWhite);
    text-transform: capitalize;
}
/* Random Pokemon Button */
.grid-container .left button {
    padding: .5rem;
    width: 300px;
    text-transform: capitalize;
    letter-spacing: .25px;
    color: var(--clr-grey);
    margin: 6px auto;
    background: var(--clr-white);
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 0px 4px rgba(0,0,0,0.4);
    cursor: pointer;
    transition: 250ms ease;
}
/* Search Pokemon Cards */
.grid-container .right input {
    padding: .5rem;
    width: 300px;
    text-transform: capitalize;
    letter-spacing: .25px;
    background: var(--clr-white);
    outline: none;
    border: 1.5px solid var(--clr-white);
    border-radius: 5px;
    box-shadow: 3px 3px 0px 4px rgba(0,0,0,0.4);
}
.grid-container .right input::placeholder {
    color: var(--clr-grey);
    opacity: 100%;
}
.grid-container .right .search {
    position: relative;
}
.grid-container .right #icon {
    position: absolute;
    right: .75rem;
    top: .6rem;
    color: var(--clr-blk-khaki);
    cursor: text;
}
/* Pokemon Cards */
.card {
    position: relative;
    top: 1rem;
    list-style: none;
    line-height: 1.7;
    font-weight: 300;
    padding: 2rem;
    width: 300px;
    height: 490px;
    border-radius: 10px;
    color: var(--clr-white);
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    overflow: hidden;
}
/* Pokemon Cards - Pokemon Img */
.card #pokemon {
    display: block;
    margin: 50px auto 0;
    max-width: 120px;
    height: 120px;
    width: 100%;
    padding: .75rem;
    border-radius: 50%;
    background: var(--clr-offWhite);
    box-shadow: 3px 2px 7px rgba(0, 0, 0, .3);
}
/* Pokemon Cards - Pokeball Img */
.card #pokeball {
    display: block;
    width: 132px;
    height: auto;
    position: absolute;
    bottom: 80%;
    left: 60%;
    filter: opacity(35%);
    transform: rotate(25deg);
    border: solid 5px var(--clr-white);
    border-radius: 50%;
    box-shadow: 3px 2px 7px rgba(0, 0, 0, .8);
}
/* Pokemon Cards - Name & Dex Entry */
.card h2,
.card h3 {
    text-transform: capitalize;
    text-align: center;
    font-weight: 400;
}
.card h2 {
    margin: 10px auto 0;
    font-size: 1.25rem;
    letter-spacing: .25px;
}
.card h3 {
    font-size: .95rem;
    width: 100%;
    padding-bottom: .75rem;
    border-bottom: 1.5px var(--clr-white) solid;
}
/* Pokemon Cards - Info */
.card .stats-container {
    height: 190px;
    width: 100%;
    overflow-Y: auto;
}
.card .info p {
    font-weight: 200;
    text-transform: capitalize;
}
.card .info .stats-title {
    font-weight: 300;
    margin-left: .2rem;
}
.card .info #inches,
.card .info #lbs {
    color: var(--clr-offWhite);
    font-weight: 300;
}
.card .info #inches {
    position: relative;
    top: .2rem;
    right: .1rem;
    font-size: 1.25rem;
}
.card .info #lbs {
    text-transform: lowercase;
}
/* Pokemon Cards - Progress Bars */
.card h4 {
    display: block;
    margin: 15px auto;
    font-size: .95rem;
    font-weight: 300;
}
progress {
    display: flex;
    width: 92%;
    height: 8px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    background: var(--clr-offWhite);
}
.progress-bar::-webkit-progress-bar {
    background-color: var(--clr-offWhite);
    border-radius: 5px;
}
.progress-bar::-webkit-progress-value {
    border-radius: 5px;
}
.stats-wrapper p {
    font-weight: 400;
}
.stats-wrapper span {
    font-weight: 300;
}
/* Dark Mode */
@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: var(--clr-blk);
    }
}